.container-dashboard {
    background-color: #232734;
    width: 226px;
    height: 100vh;
    position: fixed;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}

.container-dashboard h1 {
    padding: 24px;
    color: #9CA3AF;
    font-size: 36px;
    border-bottom: 2px solid #9CA3AF;
    text-align: center;
}

.container-dashboard ul li{
    padding: 15px;
    border-bottom: 2px solid #9CA3AF;
}

.container-dashboard ul li a{
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.container-dashboard ul li a:hover {
    color: purple;
}

